<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>138837610266-lghr48phfr8qbpa7il924lv9mg9iu040.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.138837610266-lghr48phfr8qbpa7il924lv9mg9iu040</string>
	<key>API_KEY</key>
	<string>AIzaSyDpm-AT4R89Kd5PoBipaKaLCUY7qmcFEt0</string>
	<key>GCM_SENDER_ID</key>
	<string>138837610266</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newApp</string>
	<key>PROJECT_ID</key>
	<string>new-flutter-app-c5fdb</string>
	<key>STORAGE_BUCKET</key>
	<string>new-flutter-app-c5fdb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:138837610266:ios:4ce06a6536ad66fcfa26a3</string>
</dict>
</plist>